<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>Eyes on Health Home</title>
    </head>

    <body>
        <h1> Welcome to Eyes on Health Home Page! </h1>
        <h2> Please Login or Register to continue </h2>
    </body>
</html>